<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mpic.evolution.chair.dao.BroadcastDao">

    <resultMap id="VedioBasicInfo" type="com.mpic.evolution.chair.pojo.vo.VideoBasicInfoVo">
        <id property="videoId" column="pk_detail_id"/>
        <result property="chosenText" column="chosen_text"/>
        <result property="videoUrl" column="video_url"/>
        <collection property="sonVideos" javaType="ArrayList" column="pk_detail_id" ofType="com.mpic.evolution.chair.pojo.vo.VideoBasicInfoVo" select="getSonVideos">
            <id property="videoId" column="pk_detail_id"/>
            <result property="chosenText" column="chosen_text"/>
            <result property="videoUrl" column="video_url"/>
        </collection>
    </resultMap>
    <resultMap id="getSelf" type="com.mpic.evolution.chair.pojo.vo.VideoBasicInfoVo">
        <id property="videoId" column="pk_detail_id"/>
        <result property="itemsText" column="video_text"/>
        <result property="chosenText" column="chosen_text"/>
        <result property="videoUrl" column="video_url"/>
    </resultMap>
    <!--级联查询父菜单-->
    <select id="selectParentVideo" resultMap="VedioBasicInfo" parameterType="int">
        SELECT 
        an.pk_detail_id, an.parent_id, an.video_url, an.chosen_text
        FROM ecm_artwork_nodes an
        WHERE an.pk_detail_id = #{videoId}
        AND an.is_deleted = 'N'
    </select>

    <!--级联查询子菜单-->

    <select id="getSonVideos" resultMap="VedioBasicInfo" parameterType="int">
        SELECT an.pk_detail_id, an.parent_id, an.video_url
        FROM ecm_artwork_nodes an
        WHERE an.parent_id = #{videoId}
    </select>
    <select id="getStorylineInfoSelf" resultMap="getSelf" parameterType="int">
        SELECT ad.pk_detail_id, ad.video_text, ad.video_url, ad.chosen_text
        FROM ecm_artwork_nodes ad
        WHERE ad.pk_detail_id =#{videoId}
    </select>
    <select id="getStorylineInfo" resultMap="getSelf" parameterType="int">
        SELECT ad.pk_detail_id, ad.video_text, ad.video_url, ad.chosen_text
        FROM ecm_artwork_nodes ad
        WHERE ad.pk_detail_id =
              (SELECT ad2.parent_id FROM ecm_artwork_nodes ad2 WHERE ad2.pk_detail_id = #{videoId})
    </select>

    <insert id="insertBroadcast" parameterType="com.mpic.evolution.chair.pojo.query.EcmArtWorkQuery">
        <if test='videoId=="y"'>

            and status = 1

        </if>
        INSERT INTO ecm_artwork_broadcast_history (fk_artwork_id, fk_artwork_detail_id, fk_user_id,start_time)
        values ((SELECT ad.fk_artwork_id
        FROM ecm_artwork_nodes ad
        WHERE ad.pk_detail_id = #{intVideoId}), #{intVideoId}, #{fkUserid},sysdate())
    </insert>
</mapper>